<% title "Sign In" %>

<p><strong>Sign in through one of these services:</strong></p>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "auth/twitter_128.png", :size => "128x128", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "auth/facebook_128.png", :size => "128x128", :alt => "Facebook" %>
  Facebook
</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "auth/open_id_128.png", :size => "128x128", :alt => "OpenID" %>
  OpenID
</a>
<div class="clear"></div>

<% unless logged_in? %>
  <p>
    <strong>Don't use these services?</strong>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "sign in", login_path %> with a password.
  </p>
<% end %>
