<% title t(".sign_in") %>
<% stylesheet "authentication" %>

<div id="container" class="two_stones">
  <div id="sign_in">
    <h2><%= t(".sign_in_services") %></h2>

    <a href="/auth/twitter" class="auth_provider">
      <%= image_tag "auth/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
      Twitter
    </a>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "auth/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
      Facebook
    </a>
    <a href="/auth/open_id" class="auth_provider">
      <%= image_tag "auth/open_id_64.png", :size => "64x64", :alt => "OpenID" %>
      OpenID
    </a>
    <div class="clear"></div>

    <h3><%= t(".not_services") %><br /> <%= t(".enter_email") %></h3>
    <%= form_tag new_user_path, :method => :get do %>
      <p>
        <%= label_tag :email, t(".email") %>
        <%= text_field_tag :email, params[:email] %>
        <%= submit_tag t(".continue"), :name => nil %>
      </p>
    <% end %>
  </div>
</div>
