<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
  </p>
  <% unless session[:omniauth] %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </p>
  <% end %>
  <p>
    <%= f.label :rank %>
    <%= f.text_field :rank, :size => 10 %>
    <span class="hint">such as "4k"</span><br>
    <span class="field hint">leave blank if unknown</span>
  </p>
  <p>
    <%= f.label :time_zone, "Time Zone" %>
    <%= f.time_zone_select :time_zone, nil, :include_blank => true %>
  </p>
  <p class="field">
    <%= f.check_box :email_on_invitation %>
    <%= f.label :email_on_invitation, "Email me new game invitations", :class => "inline" %>
  </p>
  <p class="field">
    <%= f.check_box :email_on_move %>
    <%= f.label :email_on_move, "Email me when opponent moves", :class => "inline" %>
  </p>
  <p class="field">
    <%= f.check_box :email_on_message %>
    <%= f.label :email_on_message, "Email me when opponent chats", :class => "inline" %>
  </p>
  <p class="field"><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
