<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
  </p>
  <% unless session[:omniauth] %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </p>
  <% end %>
  <p class="field"><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
