<% title @user.username %>
<% stylesheet "user" %>

<div id="container">
  <div id="profile">
    <%= avatar_image_tag(@user) %>
    <h2 class="username"><%= @user.username %></h2>
    <div class="clear"></div>
    <div class="details">
      <p>
        <%= t(".currently") %>: <%= @user.online? ? t(".online") : t(".offline") %>
      </p>
      <% if @user.rank.present? %>
      <p>
        <%= t(".rank") %>: <%= @user.rank %>
      </p>
      <% end %>
      <p>
        <%= t(".gnugo_level") %>:
        <%= @user.gnugo_level %>
      </p>
      <p>
        <%= t(".games_with_gnugo") %>:
        <%= @user.games.with_gnugo.size %>
      </p>
      <p>
        <%= t(".games_with_others") %>:
        <%= @user.games.without_gnugo.size %>
      </p>
    </div>
    <% if @user == current_user %>
      <h3><%= link_to t(".edit_profile"), edit_current_user_path %> <%= t(".or") %> <%= link_to t(".log_out"), logout_path %></h3>
    <% else %>
      <%= link_to t(".challenge_to_a_game"), new_game_path(:username => @user.username), :class => "button" %>
    <% end %>
  </div>
  <div class="column">
    <h2><%= t(".his_games", :username => @user.username) %></h2>
    <% @games.each_with_index do |game, index| %>
      <% unless index.zero? %>
        <div class="game_divider"></div>
      <% end %>
      <%= render game %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
