<div class="item game">
  <%= link_to_game_thumbnail game %>
  <div class="details">
    <% game.profiles_with_current_first.each do |profile| %>
      <div class="player <%= profile.color %>"><%= link_to_user(profile.user) %> <%= online_status(profile.user) %></div>
    <% end %>
    <% if game.last_move_at %>
      <div class="status">moved <%= time_ago_in_words(game.last_move_at) %> ago</div>
    <% end %>
  </div>
  <%= link_to "Go", game, :class => "go_button" %>
</div>
