<% if @game.finished? %>
  <div class="short_panel">
    <% if !@game.started? %>
      <h2><%= t(".declined") %></h2>
    <% elsif current_user && @game.winner == current_user %>
      <h2><%= t(".won") %></h2>
      <p><%= link_to t(".play_again"), new_game_path(:board_size => @game.board_size) %></p>
    <% elsif current_user && @game.loser == current_user %>
      <h2><%= t(".lost") %></h2>
      <p class="resources"><%= t(".need_help", :url => go_resources_path).html_safe %></p>
      <p><%= link_to t(".play_again"), new_game_path(:board_size => @game.board_size) %></p>
    <% else %>
      <h2><%= t(".winner", :winner_name => @game.winner ? (@game.winner.username || t(".guest")) : t(".gnu_go")) %></h2>
    <% end %>
  </div>
<% elsif @game.started? %>
  <div class="short_panel">
    <p><%= t(".started", :url => game_path(@game)).html_safe %></p>
  </div>
<% elsif @game.current_player == current_user %>
  <div class="tall_panel">
    <%= form_for @game do |f| %>
      <h2><%= t(".challenge_from", :username => @game.opponent(current_user).username) %></h2>
      <p class="game_setting"><%= t(".board_size") %>: <%= @game.board_size %></p>
      <p class="game_setting"><%= t(".playing_as") %>: <%= @game.white_player == current_user ? "White" : "Black" %></p>
      <p class="game_setting"><%= t(".komi") %>: <%= @game.komi %></p>
      <p class="game_setting"><%= t(".handicap") %>: <%= @game.handicap %></p>
      <p><%= t(".change_settings", :url => edit_game_path(@game)).html_safe %></p>
      <p>
        <%= f.submit t(".accept"), :name => "invitation_button", :id => "accept_button" %>
        <%= f.submit t(".decline"), :name => "invitation_button", :id => "decline_button" %>
      </p>
    <% end %>
  </div>
<% else %>
  <div class="short_panel">
    <p><%= t(".waiting") %></p>
  </div>
<% end %>
