<div class="captured <%= profile.color %>_captured">
  <div class="info" style="display: none;"><span class="count"><%= profile.captured %></span> stones</div>
</div>
<%= image_tag "game/bowl_#{profile.color}.png", :class => "bowl" %>
<%= image_tag "game/lid_#{profile.color}.png", :class => "lid" %>
<div class="profile">
  <div class="details">
    <div class="name"><%= profile.name %> as <%= profile.color.to_s.titleize %> <%= online_status(profile.user) %></div>
    <div id="turn_<%= profile.user_id %>" class="turn"<%= raw ' style="display: none;"' unless profile.current && !@game.finished? %>>current player</div>
    <div id="<%= profile.color.to_s[0] %>_status" class="status"><%= profile.last_status %></div>
    <div class="komi_or_handicap"><%= profile.handicap_or_komi %></div>
    <div id="score_<%= profile.user_id %>" class="score"><%= game_score profile.score, @game.finished? %></div>
  </div>
  <% if profile.user && profile.user == current_user %>
    <div id="player_actions">
      <%= link_to "Pass", '#', :id => "play_pass" %>
      <%= link_to "Resign", '#', :id => "play_resign" %>
    </div>
  <% end %>
</div>
