<%= image_tag "game/bowl_#{profile.color}.png", :class => "bowl" %>
<%= image_tag "game/lid_#{profile.color}.png", :class => "lid" %>
<div class="profile">
  <div class="details">
    <div class="name"><%= profile.name %> as <%= profile.color.to_s.titleize %></div>
    <div id="turn_<%= id = profile.user ? profile.user.id : 0 %>" class="turn"<%= raw ' style="display: none;"' unless @game.current_player_id.to_i == id %>>current player</div>
    <div class="komi_or_handicap"><%= profile.handicap_or_komi %></div>
    <div id="score_<%= id %>" class="score"><%= game_score profile.score, @game.finished? %></div>
  </div>
</div>
