<%= image_tag "game/bowl_#{profile.color}.png", :class => "bowl" %>
<%= image_tag "game/lid_#{profile.color}.png", :class => "lid" %>
<div class="profile">
  <div class="details">
    <div class="name"><%= profile.name %> as <%= profile.color.to_s.titleize %></div>
    <div id="turn_<%= profile.user_id %>" class="turn"<%= raw ' style="display: none;"' unless @game.current_player_id.to_i == profile.user_id && !@game.finished? %>>current player</div>
    <div id="<%= profile.color.to_s[0] %>_status" class="status"><%= profile.last_status %></div>
    <div class="komi_or_handicap"><%= profile.handicap_or_komi %></div>
    <div id="score_<%= profile.user_id %>" class="score"><%= game_score profile.score, @game.finished? %></div>
  </div>
</div>
