<% title "Welcome" %>
<% stylesheet "home" %>

<div id="container" class="two_stones">

  <div id="welcome">
    <h2>Welcome</h2>
    <p>Go is a board game invented in China more than 4,000 years ago. It is more popular in the far East than Chess in the West. The rules are simple but mastering the game can take a lifetime.</p>
    <p>We invite you to <%= link_to "try a game", new_game_path(:board_size => 9) %> against the computer or online with other players.</p>
  </div>

  <div class="columns">
    <div class="column">
      <div class="column_padding">
        <%= render "my_games" %>
      </div>
    </div>
    <div class="column">
      <div class="column_padding">
        <%= render "other_games" %>
      </div>
    </div>
    <div class="column">
      <div class="column_padding">
        <h2>Looking for Games</h2>
        <% @users.each_with_index do |user, index| %>
          <% unless index.zero? %>
            <div class="user_divider"></div>
          <% end %>
          <div class="item user">
            <%= avatar_image_tag(user) %>
            <div class="details">
              <%= link_to user.username, user, :class => "subtle" %> <%= online_status(user) %>
            </div>
            <%= link_to image_tag("game/go_button.png"), user, :size => "46x31", :class => "go_button" %>
          </div>
        <% end %>
        <div class="buttons">
          <% if guest? %>
            To add yourself to this list, first <%= link_to "sign in", signin_url %>.
          <% elsif @users.include? current_user %>
            <%= link_to "Remove Myself from List", publicize_path(:remove => true), :method => :put, :class => "button" %>
          <% else %>
            <%= link_to "Add Myself to List", publicize_path, :method => :put, :class => "button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
