<% title "Welcome" %>
<% stylesheet "home" %>

<div id="container" class="two_stones">

  <div id="welcome">
    <h2><%= t('.welcome') %></h2>
    <p><%= t('.go_description') %></p>
    <p><%= t('.try_a_game', :link => new_game_path(:board_size => 9)).html_safe %></p>
  </div>

  <div class="columns">
    <div class="column">
      <div class="column_padding">
        <%= render "your_games" %>
      </div>
    </div>
    <div class="column">
      <div class="column_padding">
        <%= render "other_games" %>
      </div>
    </div>
    <div class="column">
      <div class="column_padding">
        <h2><%= t('.looking_for_games') %></h2>
        <% @users.each_with_index do |user, index| %>
          <% unless index.zero? %>
            <div class="user_divider"></div>
          <% end %>
          <div class="item user">
            <%= avatar_image_tag(user) %>
            <div class="details">
              <%= link_to_user user %> <%= online_status(user) %>
            </div>
            <% unless user == current_user %>
              <%= link_to "Challenge", new_game_path(:username => user.username), :class => "go_button" %>
            <% end %>
          </div>
        <% end %>
        <div class="buttons">
          <% if guest? %>
            <%= t('.guest_add_to_list', :url => signin_url).html_safe %>
          <% elsif @users.include? current_user %>
            <%= link_to t('.remove_yourself_from_list'), publicize_path(:remove => true), :method => :put, :class => "button" %>
          <% else %>
            <%= link_to t('.add_yourself_to_list'), publicize_path, :method => :put, :class => "button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
