<% title "New Go Game" %>
<% stylesheet "game" %>
<% @hide_footer = true %>

<!-- TODO refactor with show action -->

<div id="game">
  <div class="games_column">
    <% if logged_in? %>
      <h2>My Games</h2>
      <div class="inner">
      <h3>My Turn</h3>
      <% for game in current_user.games_my_turn %>
        <h4><%= link_to "Game ##{game.id}", game %></h4>
      <% end %>
  
      <h3>Their Turn</h3>
      <% for game in current_user.games_their_turn %>
        <h4><%= link_to "Game ##{game.id}", game %></h4>
      <% end %>
  
      <h3>Finished Games</h3>
      <% for game in current_user.games.finished %>
        <h4><%= link_to "Game ##{game.id}", game %></h4>
      <% end %>
      </div>
    <% else %>
      <h2>Watch a Game</h2>
      <div class="inner">
      <% for game in Game.first(8) %>
        <div class="game">
          <div class="thumbnail"></div>
          <div class="details">
            <div class="player_name">Foobar 4k</div>
            <div class="vs">vs</div>
            <div class="player_name">Testing 4k</div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
      </div>
    <% end %>
    <div class="pagination">
      <%= link_to "<", '#', :id => "previous_move" %>
      Page 1
      <%= link_to ">", '#', :id => "next_move" %>
    </div>
  </div>
  <div id="game_area">
    <div id="top_player" class="player">
      <%= image_tag "game/bowl_white.png", :class => "bowl" %>
      <%= image_tag "game/lid_white.png", :class => "lid" %>
    </div>
    <div id="new_game_overlay">
    <%= form_for @game do |f| %>
      <%= f.error_messages %>
      <% if guest? %>
      <p>
        <strong>Playing against computer (GNU Go).</strong><br />
        To play against others you must first <%= link_to "sign in", signin_path %>.
      </p>
      <% else %>
      <p>
        <strong>Play against:</strong><br />
        <%= f.radio_button :chosen_opponent, "gnugo" %> Computer (GNU Go)<br />
        <%= f.radio_button :chosen_opponent, "user" %> Username:
        <%= f.text_field :opponent_username %>
      </p>
      <% end %>
      <p>
        <%= f.label :chosen_color, "Play as" %>
        <%= f.select :chosen_color, [["Random", ""], ["Black", "black"], ["White", "white"]] %>
      </p>
      <p>
        <%= f.label :handicap %>
        <%= f.select :handicap, [0, 2, 3, 4, 5, 6, 7, 8, 9] %>
      </p>
      <p>
        <%= f.label :board_size %>
        <%= f.select :board_size, [["19 x 19", 19], ["13 x 13", 13], ["9 x 9", 9]] %>
      </p>
      <p>
        <%= f.label :komi %>
        <%= f.select :komi, [0.5, 5.5, 6.5] %>
      </p>
      <p class="field"><%= f.submit "Start Game" %></p>
    <% end %>
    </div>
    <div id="board" class="size_19" data-moves="" data-handicap="">
      <div id="board_spaces">
      <% for y in ('a'..'s') %>
        <% for x in ('a'..'s') %>
          <% vertex = x + y %>
          <div class="e" id="<%= vertex %>"></div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div id="bottom_player" class="player">
      <%= image_tag "game/bowl_black.png", :class => "bowl" %>
      <%= image_tag "game/lid_black.png", :class => "lid" %>
    </div>
  </div>
</div>

