<% title "New Go Game" %>
<% stylesheet "game" %>
<% @hide_footer = true %>

<div id="game">
  <%= render "side" %>
  <div id="game_area">
    <div id="top_player" class="player">
      <%= image_tag "game/bowl_white.png", :class => "bowl" %>
      <%= image_tag "game/lid_white.png", :class => "lid" %>
    </div>
    <div id="panel_container">
      <div class="tall_panel">
        <%= render "form" %>
      </div>
    </div>
    <div id="board" class="size_19" data-moves="" data-handicap=""></div>
    <div id="bottom_player" class="player">
      <%= image_tag "game/bowl_black.png", :class => "bowl" %>
      <%= image_tag "game/lid_black.png", :class => "lid" %>
    </div>
  </div>
</div>
