<% title "New Game" %>

<%= form_for @game do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :komi %><br />
    <%= f.text_field :komi %>
  </p>
  <p>
    <%= f.label :handicap %><br />
    <%= f.text_field :handicap %>
  </p>
  <p>
    <%= f.label :board_size %><br />
    <%= f.text_field :board_size %>
  </p>
  <p><%= f.submit %></p>
<% end %>


<p><%= link_to "Back to List", games_path %></p>
