<% title "Game" %>

<div id="board" class="boardsize<%= @game.board_size %>" data-moves="<%= @game.moves %>" data-handicap="<%= @game.handicap.to_i %>">
<% for y in ('a'..'s').first(@game.board_size) %>
  <% for x in ('a'..'s').first(@game.board_size) %>
    <% vertex = x + y %>
    <div class="<%= color_at vertex %>" id="<%= vertex %>"></div>
  <% end %>
<% end %>
</div>

<p>
  <%= link_to "First", '#', :id => "first_move" %>
  <%= link_to "Previous", '#', :id => "previous_move" %>
  <%= link_to "Next", '#', :id => "next_move" %>
  <%= link_to "Last", '#', :id => "last_move" %>
</p>


<% if current_user %>
  <h2>My Games</h2>

  <h3>My Turn</h3>
  <% for game in current_user.games_my_turn %>
    <h4><%= link_to "Game ##{game.id}", game %></h4>
  <% end %>
  
  <h3>Their Turn</h3>
  <% for game in current_user.games_their_turn %>
    <h4><%= link_to "Game ##{game.id}", game %></h4>
  <% end %>
  
  <h3>Finished Games</h3>
  <% for game in current_user.games_their_turn %>
    <h4><%= link_to "Game ##{game.id}", game %></h4>
  <% end %>
<% end %>

<h2>Debug Details</h2>

<p>
  <strong>Black Player:</strong>
  <%= @game.black_player_id %>
</p>
<p>
  <strong>White Player:</strong>
  <%= @game.white_player_id %>
</p>
<p>
  <strong>Current Player:</strong>
  <%= @game.current_player_id %>
</p>
<p>
  <strong>Black Score:</strong>
  <%= @game.black_score %>
</p>
<p>
  <strong>White Score:</strong>
  <%= @game.white_score %>
</p>
<p>
  <strong>Black Positions:</strong>
  <%= @game.black_positions %>
</p>
<p>
  <strong>White Positions:</strong>
  <%= @game.white_positions %>
</p>
<p>
  <strong>Moves:</strong>
  <%= @game.moves %>
</p>
<p>
  <strong>Valid Positions:</strong>
  <%= @game.valid_positions %>
</p>
<p>
  <strong>Komi:</strong>
  <%= @game.komi %>
</p>
<p>
  <strong>Handicap:</strong>
  <%= @game.handicap %>
</p>
<p>
  <strong>Board Size:</strong>
  <%= @game.board_size %>
</p>
<p>
  <strong>Last Move At:</strong>
  <%= @game.last_move_at %>
</p>
<p>
  <strong>Started At:</strong>
  <%= @game.started_at %>
</p>
<p>
  <strong>Finished At:</strong>
  <%= @game.finished_at %>
</p>

<p>
  <%= link_to "View All", games_path %>
</p>
