<% title "Play Go" %>
<% stylesheet "game" %>
<% @hide_footer = true %>

<div id="game">
  <div id="side">
    <% unless @my_games.blank? %>
    <div id="my_games" class="games">
      <%= render "my_games" %>
    </div>
    <% end %>
    <div id="other_games" class="games">
      <%= render "other_games" %>
    </div>
  </div>
  <div id="game_area">
    <div id="top_player" class="player"><%= render "profile", :profile => @profiles.first %></div>
    <div id="board" class="size_<%= @game.board_size %>" data-moves="<%= @game.moves %>" data-handicap="<%= @game.handicap.to_i %>" data-current-player="<%= @game.current_player_id.to_i %>" data-current-user="<%= current_user && current_user.id %>">
      <div id="board_spaces">
      <% for y in ('a'..'s').first(@game.board_size) %>
        <% for x in ('a'..'s').first(@game.board_size) %>
          <% vertex = x + y %>
          <div class="<%= color_at vertex %><%= ' last' if @game.last_move == vertex %>" id="<%= vertex %>"></div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div id="move_nav">
      <%= link_to "<<", '#', :id => "first_move" %>
      <%= link_to "<", '#', :id => "previous_move" %>
      <%= link_to ">", '#', :id => "next_move" %>
      <%= link_to ">>", '#', :id => "last_move" %>
    </div>
    <div id="bottom_player" class="player"><%= render "profile", :profile => @profiles.last %></div>
    <div id="player_actions">
      <%= link_to "Pass",   '#', :id => "play_pass" %>
      <%= link_to "Resign", '#', :id => "play_resign" %>
    </div>
  </div>
</div>
