<% title "Play Go" %>
<% stylesheet "game" %>
<% @hide_footer = true %>

<div id="game">
  <div id="side">
    <% unless @my_games.blank? %>
    <div id="my_games" class="games">
      <%= render "my_games" %>
    </div>
    <% end %>
    <div id="other_games" class="games">
      <%= render "other_games" %>
    </div>
  </div>
  <div id="game_area">
    <div id="top_player" class="player"><%= render "profile", :profile => @profiles.first %></div>
    <%= board_div(@game) do %>
      <div id="board_spaces">
      <% for y in ('a'..'s').first(@game.board_size) %>
        <% for x in ('a'..'s').first(@game.board_size) %>
          <% position = x + y %>
          <div class="<%= color_at position %><%= ' last' if @game.last_position == position %>" id="<%= position %>"></div>
        <% end %>
      <% end %>
      </div>
    <% end %>
    <%= link_to image_tag("game/sound_on.png", :size => "18x16"), '#', :id => "sound_switch" %>
    <div id="move_nav">
      <%= link_to "<<", '#', :id => "first_move" %>
      <%= link_to "<", '#', :id => "previous_move" %>
      <%= link_to ">", '#', :id => "next_move" %>
      <%= link_to ">>", '#', :id => "last_move" %>
    </div>
    <div id="bottom_player" class="player"><%= render "profile", :profile => @profiles.last %></div>
  </div>
</div>

<!--
  Load the file directly from govsgo.com because development server does not support
  fetching byte ranges which causes problems with Safari and HTML 5 audio.
  http://stackoverflow.com/questions/1995589/html5-audio-safari-live-broadcast-vs-not
-->
<% for sound in %w[pass resign stone2] %>
<audio preload="auto" id="<%= sound %>_sound">
  <source src="http://govsgo.com/sounds/<%= sound %>.ogg">
  <source src="http://govsgo.com/sounds/<%= sound %>.mp3">
</audio>
<% end %>