<% title "Play Go" %>
<% stylesheet "game" %>
<% @hide_footer = true %>

<div id="game">
  <div id="side">
    <% if logged_in? && current_user.games.present? %>
    <div class="games">
      <h2>My Games</h2>
      <% current_user.games.limit(5).each_with_index do |game, index| %>
        <% unless index.zero? %>
          <div class="game_divider"></div>
        <% end %>
        <%= render game %>
      <% end %>
    </div>
    <% end %>
    <div class="games">
      <h2>Watch a Game</h2>
      <% Game.recent.limit(5).each_with_index do |game, index| %>
        <% unless index.zero? %>
          <div class="game_divider"></div>
        <% end %>
        <%= render game %>
      <% end %>
    </div>
  </div>
  <div id="game_area">
    <div id="top_player" class="player">
      <%= image_tag "game/bowl_white.png", :class => "bowl" %>
      <%= image_tag "game/lid_white.png", :class => "lid" %>
      <div class="profile">
        <div class="avatar"></div>
        <div class="details">
          <div class="name">Foo 4k</div>
          <div class="komi">6.5 Komi</div>
          <div class="captures">3 captured</div>
        </div>
      </div>
    </div>
    <div id="board" class="size_<%= @game.board_size %>" data-moves="<%= @game.moves %>" data-handicap="<%= @game.handicap.to_i %>">
      <div id="board_spaces">
      <% for y in ('a'..'s').first(@game.board_size) %>
        <% for x in ('a'..'s').first(@game.board_size) %>
          <% vertex = x + y %>
          <div class="<%= color_at vertex %>" id="<%= vertex %>"></div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div id="move_nav">
      <%= link_to "<<", '#', :id => "first_move" %>
      <%= link_to "<", '#', :id => "previous_move" %>
      <%= link_to ">", '#', :id => "next_move" %>
      <%= link_to ">>", '#', :id => "last_move" %>
    </div>
    <div id="bottom_player" class="player">
      <%= image_tag "game/bowl_black.png", :class => "bowl" %>
      <%= image_tag "game/lid_black.png", :class => "lid" %>
      <div class="profile">
        <div class="avatar"></div>
        <div class="details">
          <div class="name">Foo 4k</div>
          <div class="handicap">No Handicap</div>
          <div class="captures">3 captured</div>
        </div>
      </div>
    </div>
    <div id="player_actions">
      <%= link_to "Pass",   '#', :id => "play_pass" %>
      <%= link_to "Resign", '#', :id => "play_resign" %>
    </div>
  </div>
</div>
