<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "" %> - Go vs Go</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <a href="/" id="logo"><img src="/images/layout/logo.png" width="241" height="96" alt="Go vs Go" /></a>
    <ul id="nav">
      <li class="banner blue"><%= link_to "Home", root_path %></li>
      <li class="gap"></li>
      <li class="banner purple"><%= link_to "Play a Game", new_game_path %></li>
      <li class="gap"></li>
      <li class="banner red"><%= link_to "Go Resources", go_resources_path %></li>
      <li class="gap"></li>
      <% if guest? %>
        <li class="banner brown"><%= link_to "Sign In", signin_path %></li>
      <% else %>
        <li class="banner brown"><%= link_to "My Profile", edit_current_user_path %></li>
      <% end %>
      <div class="clear">
    </ul>
    <div class="clear"></div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
    <% unless @hide_footer %>
    <div id="footer">
      <p>This site was created by <%= link_to "Ryan Bates", "http://railscasts.com" %>, <%= link_to "Phil Bates", "http://www.prbates.com" %> and <%= link_to "James Edward Gray II", "http://blog.grayproductions.net/" %> for <%= link_to "Rails Rumble 2010", "http://r10.railsrumble.com/" %></p>
    </div>
    <% end %>
  </body>
</html>
