<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "" %> - Go vs Go</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults, "private_pub", :cache => true %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <a href="/" id="logo"><img src="/images/layout/logo.png" width="241" height="96" alt="Go vs Go" /></a>
    <ul id="nav">
      <li class="banner blue"><%= link_to "Home", root_path %></li>
      <li class="gap"></li>
      <li class="banner purple"><%= link_to "Play a Game", new_game_path %></li>
      <li class="gap"></li>
      <li class="banner red"><%= link_to "Go Resources", go_resources_path %></li>
      <li class="gap"></li>
      <% if guest? %>
        <li class="banner brown"><%= link_to "Sign In", signin_path %></li>
      <% else %>
        <li class="banner brown"><%= link_to "Your Profile", current_user %></li>
      <% end %>
      <div class="clear">
    </ul>
    <div class="clear"></div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
    <% unless @hide_footer %>
    <div id="footer">
      <p>
        Follow Go vs Go on
        <%= link_to image_tag("layout/twitter.png", :size => "65x17"), "http://twitter.com/govsgo" %>
        <%= link_to image_tag("layout/facebook.png", :size => "60x20"), "http://www.facebook.com/pages/Go-vs-Go/171753022839121" %>
      </p>
      <p>Go vs Go is <%= link_to "open source", "http://github.com/ryanb/govsgo" %>. Problems or suggestions? Visit the <%= link_to "Issue Tracker", "http://github.com/ryanb/govsgo/issues" %>.</p>
    </div>
    <% end %>
  </body>
</html>
